[flake8]
max-line-length = 88
exclude = 
    venv,
    .venv,
    __pycache__,
    .git,
    .mypy_cache,
    .pytest_cache,
    migrations

per-file-ignores =
    seng3011/settings.py:E501
    scraper/scraper/settings.py:E501