# ----------------------
# Python
# ----------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------
# Django
# ----------------------
db.sqlite3
staticfiles/

# ----------------------
# Environment / secrets
# ----------------------
.env
*.env
promed_key.txt

# ----------------------
# Virtual environments
# ----------------------
venv/
.venv/
env/

# ----------------------
# Testing / coverage
# ----------------------
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# ----------------------
# VS Code
# ----------------------
.vscode/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log